<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.2.xsd">	

	<context:component-scan base-package="mfkd"/>

	<bean id="dateFormat" class="java.text.SimpleDateFormat">
		<constructor-arg value="yyyy-MM-dd" />
	</bean>

	<bean id="NumberStat1" class="mfk.domain.NumberStat">
		<property name="profileId" value="1"/>
		<property name="number" value="1"/>
		<property name="count" value="1"/>
	</bean>
	
	<bean id="NumberStat2" class="mfk.domain.NumberStat">
		<property name="profileId" value="1"/>
		<property name="number" value="2"/>
		<property name="count" value="3"/>
	</bean>
	
	<bean id="NumberStat3" class="mfk.domain.NumberStat">
		<property name="profileId" value="1"/>
		<property name="number" value="3"/>
		<property name="count" value="2"/>
	</bean>

	<bean id="leoProfile" class="mfk.domain.Profile" scope="singleton">
		<property name="id" value="1"/>
		<property name="name" value="Konyshev Leo"/>
		<property name="birthDate">
			<bean factory-bean="dateFormat" factory-method="parse">
					<constructor-arg value="2013-01-30"/>
			</bean>
		</property>
	</bean>
	
	<bean id="kProfile" class="mfk.domain.Profile" scope="singleton">
		<property name="id" value="2"/>
		<property name="name" value="Konyshev K"/>
		<property name="birthDate">
			<bean factory-bean="dateFormat" factory-method="parse">
					<constructor-arg value="1984-03-22"/>
			</bean>
		</property>
	</bean>
	
	<bean id="profileDao" class="mfk.domain.ProfileDaoMock" scope="singleton">
		<property name="profileSet">
			<set>
				<ref bean="leoProfile"/>
				<ref bean="kProfile"/>
			</set>
		</property>
	</bean>
	
	<bean id="numberStatDao" class="mfk.domain.NumberStatDaoMock" scope="singleton">
		<property name="numberStatList">
			<set>
				<ref bean="NumberStat1"/>
				<ref bean="NumberStat2"/>
				<ref bean="NumberStat3"/>
			</set>
		</property>
	</bean>

	<bean id="profileService" class="mfk.domain.ProfileServiceImpl" scope="singleton"/>
	
</beans>